/******* global ********/
/******* header ********/
/******* navigation section ********/
/********* mixin ********/
/*************** common start *****************/
@font-face {
  font-family: 'iconfont';
  src: url("../asset/iconfont/iconfont.eot");
  /* IE9*/
  src: url("../asset/iconfont/iconfont.eot?#iefix") format("embedded-opentype"), url("../asset/iconfont/iconfont.woff") format("woff"), url("../asset/iconfont/iconfont.ttf") format("truetype"), url("../asset/iconfont/iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */ }

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

a {
  text-decoration: none; }

.single-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

a.react {
  display: block;
  color: inherit;
  height: 100%; }

.list {
  position: relative;
  border-top: 1px solid #DDD8CE;
  border-bottom: 1px solid #DDD8CE;
  margin-top: .1rem;
  margin-bottom: 0;
  background-color: #fff; }
  .list.list-in {
    border-top: none;
    margin: 0; }

/*************** common end *****************/
/************* html body start **************/
html, body {
  font-size: 100px;
  -webkit-text-size-adjust: none;
  height: 100%;
  overflow-x: hidden; }

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: .14rem; }

/************* header section start ***********/
.nav {
  display: -webkit-flex;
  display: -webkit-box;
  -webkit-flex-flow: row nowrap;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  height: .5rem;
  background-color: #06c1ae;
  color: #fff; }

.nav-left, .nav-search, .nav-right {
  line-height: .5rem; }
  .nav-left a, .nav-search a, .nav-right a {
    padding: 0 0.1rem; }
    .nav-left a span, .nav-search a span, .nav-right a span {
      font-size: .16rem; }

.nav-left i {
  display: inline-block; }
  .nav-left i:after {
    content: '';
    display: inline-block;
    position: relative;
    top: -.02rem;
    width: .05rem;
    height: .05rem;
    border-bottom: .02rem solid #fff;
    border-left: .02rem solid #fff;
    -webkit-transform: rotateZ(-45deg); }

.nav-search {
  -webkit-flex: 1;
  -webkit-flex-box: 1;
  position: relative;
  -webkit-align-self: center;
  height: .32rem;
  line-height: .32rem;
  margin: 0;
  border-radius: .03rem;
  background-color: rgba(0, 0, 0, 0.15); }
  .nav-search a i {
    position: absolute;
    left: .1rem;
    font-size: .15rem; }
  .nav-search a span {
    font-size: .13rem;
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding-left: .2rem;
    color: #68dbce; }

/************* banner section start ***********/
.banner {
  height: .5rem;
  text-align: center; }
  .banner img {
    width: 3.2rem; }

/************* navigation section start ***********/
.icon-wrapper {
  height: 1.9rem; }

.list_icons {
  height: 1.6rem;
  list-style-type: none;
  display: -webkit-flex;
  display: -webkit-box;
  -webkit-flex-flow: row wrap;
  -webkit-align-content: space-between;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  margin: 0;
  padding: 0; }
  .list_icons.page {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    -webkit-transition: -webkit-transform 0.2s; }
    .list_icons.page.current {
      z-index: 2; }
    .list_icons.page.pre {
      -webkit-transform: translateX(-105%); }
    .list_icons.page.next {
      -webkit-transform: translateX(105%); }

.list_icons_item {
  display: inline-block;
  width: 25%;
  box-sizing: border-box;
  text-align: center; }
  .list_icons_item a {
    padding: .1rem; }

.list_icons_item_circle {
  font-size: .4rem;
  color: #FF8822;
  width: .4rem;
  height: .4rem;
  display: block;
  margin: 0 auto 0.1rem; }

.list_switch {
  position: absolute;
  list-style-type: none;
  padding: 0;
  margin: 0;
  bottom: .08rem;
  text-align: center;
  width: 100%; }
  .list_switch li {
    display: inline-block;
    width: .08rem;
    height: .08rem;
    border-radius: 50%;
    background-color: #F0EFED;
    margin: 0 0.065rem; }
    .list_switch li.active {
      background-color: #06c1ae; }
